<table mat-table [dataSource]="PrdList" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nomCourt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Court </th>
      <td mat-cell *matCellDef="let element"> {{element.nomCourt}} </td>
    </ng-container>
  
    <ng-container matColumnDef="prixBase">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix Base </th>
      <td mat-cell *matCellDef="let element"> {{element.prixBase}} </td>
    </ng-container>

    <ng-container matColumnDef="prixVente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix Vente </th>
      <td mat-cell *matCellDef="let element"> {{element.prixVente}} </td>
    </ng-container>

    <ng-container matColumnDef="maxRemise">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Remise </th>
      <td mat-cell *matCellDef="let element"> {{element.maxRemise}} </td>
    </ng-container>

    <ng-container matColumnDef="unite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Unite </th>
      <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
      <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>

    <ng-container matColumnDef="qteInitial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantite Initial </th>
      <td mat-cell *matCellDef="let element"> {{element.qteInitial}} </td>
    </ng-container>

    <ng-container matColumnDef="qteActuel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantite Actuel </th>
        <td mat-cell *matCellDef="let element"> {{element.qteActuel}} </td>
      </ng-container>

    

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef > Actions </th>
      <mat-cell *matCellDef="let row">
        <button class="fa fa-trash" mat-icon-button color="warn" (click)="confimDelete(row.id)">
        </button>
        <button class="fa fa-pencil" mat-icon-button color="warn" (click)="edit(produit)">
        </button>
      </mat-cell>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>