<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html"><strong>SmartVentes</strong></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" routerLink="produits">
            <i class="fa fa-fw fa-shopping-cart"></i>
            <span class="nav-link-text">Produits</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" routerLink="fournisseurs">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Fournisseurs</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" routerLink="clients">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Clients</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-fw fa-user-circle-o"></i>
            <span class="nav-link-text">Utilisateurs</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Sign-out</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--<app-prd-form></app-prd-form>-->
  <!--<app-prd-list></app-prd-list>-->
  